:root {
    --bgwhite: #fff;
    --bggray: #2f2f2f;
    --text: #fff;
    --primary: #ffc200;
}

* {
    margin: 0;
    padding: 0;
}

body {
    width: 1440px;
    font-family: 'Grand Hotel', cursive;
    font-family: 'Montserrat', sans-serif;
    color: var(--text);
    background-color: var(--bgwhite);
    margin: 0 auto;
}

/* header styles */
header {
    height: 796px;
    background-color: var(--bggray);
    background-image: url("images/banner-right.png"), url("images/banner-left.jpg");
    background-position: right top, left top;
    background-repeat: no-repeat;
}

/* navigation bar styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 75px;
}

.nav ul {
    display: flex;
}

.nav li {
    list-style: none;
    margin-left: 50px;
    font-weight: 600;
}

.nav a {
    text-decoration: none;
    color: var(--text);
}

.nav i {
    font-size: x-large;
}

/* banner area styles */
.banner {
    width: 600px;
    margin-left: 700px;
    margin-top: 100px;
}

.banner h1 {
    color:var(--primary);
    font-family: 'Grand Hotel', cursive;
    font-size: 120px;
    font-weight: 400;
}
.banner p{
    font-size: 24px;
    margin-bottom: 30px;
}
.button{
    background-color: var(--primary);
    padding: 10px 50px;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 800;
}

/* Section-1 styles */
#sec1{
    height: 600px;
    padding: 120px 75px;
    display: flex;
    flex-direction: column;
    text-align: center;
    color:var(--bggray);
}
.heading2{
    font-family: 'Grand Hotel', cursive;
    font-size: 60px;
    font-weight: 500;
    margin-bottom: 10px;
}
.text2{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 15px;
}
.sec1a{
    padding: 35px 350px;
}
.sec1b{
    display: flex;
    gap: 30px;
}
.sec1b img{
    border-radius: 50%;
}
.heading3{
    font-family: 'Grand Hotel', cursive;
    font-size: 30px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 10px;
}
.text3{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 15px;
}
/* section-2 styles */
#sec2{
    background-image: url("images/bg-group3.png");
    background-repeat: no-repeat;
    background-position: bottom;
    padding: 120px 75px;
    display: flex;
    gap: 200px;
    justify-content:center;
    align-items: center;
}
#sec2 img{
    border-radius: 50%;
}